<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="header__logo">
        <a href="index.html" class="logo" aria-label="На главную">
          <img src="../logo.png" alt="Правовое агентство «БиС» логотип" />
        </a>
        <a href="index.html" class="brand-name">Правовое агентство «БиС»</a>
      </div>
      <nav class="header__nav">
        <ul class="nav__list">
          <li><a href="about.html" class="nav__link">О компании</a></li>
          <li class="nav__dropdown">
            <a href="services.html" class="nav__link"
              >Услуги <span class="dropdown-arrow">▼</span></a
            >
            <ul class="dropdown__menu">
              <li><a href="service-bankruptcy.html">Банкротство</a></li>
              <li>
                <a href="service-corporate.html">Корпоративное право</a>
              </li>
              <li>
                <a href="service-inheritance.html">Наследственное право</a>
              </li>
              <li>
                <a href="service-trademarks.html"
                  >Товарные знаки и лицензии</a
                >
              </li>
              <li>
                <a href="service-real-estate.html">Недвижимое имущество</a>
              </li>
              <li>
                <a href="service-arbitration.html">Арбитражный процесс</a>
              </li>
              <li>
                <a href="service-pretension.html"
                  >Претензионная стадия и досудебное урегулирование</a
                >
              </li>
              <li>
                <a href="service-business-protection.html"
                  >Правовая защита бизнеса</a
                >
              </li>
            </ul>
          </li>
          <li><a href="prices.html" class="nav__link">Цены</a></li>
          <li><a href="contacts.html" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
      <a href="tel:+79062387060" class="header__phone">+79062387060</a>

      <button class="burger-menu" aria-label="Открыть меню">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
