<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__col">
        <div class="footer__logo">Правовое агентство «БиС»</div>
        <p class="footer__description">
          Юридическая компания в Калининграде. Защищаем интересы бизнеса и
          граждан с 2010 года.
        </p>
      </div>
      <div class="footer__col">
        <h3 class="footer__title">Навигация</h3>
        <ul class="footer__links">
          <li>
            <a href="{{ url_for('page', page_name='about') }}">О компании</a>
          </li>
          <li>
            <a href="{{ url_for('page', page_name='services') }}">Услуги</a>
          </li>
          <li><a href="{{ url_for('page', page_name='prices') }}">Цены</a></li>
          <li>
            <a href="{{ url_for('page', page_name='contacts') }}">Контакты</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__title">Контакты</h3>
        <ul class="footer__contacts">
          <li>г. Калининград</li>
          <li><a href="tel:+79062387060">+79062387060</a></li>
          <li><a href="mailto:infobislaw@mail.ru">infobislaw@mail.ru</a></li>
        </ul>
        <div class="footer__social social-links">
          <a
            href="https://t.me/LawBisOfiicial"
            class="social-link"
            target="_blank"
            title="Telegram"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              viewBox="0 0 48 48"
            >
              <path
                fill="#29b6f6"
                d="M24 4A20 20 0 1 0 24 44A20 20 0 1 0 24 4Z"
              ></path>
              <path
                fill="#fff"
                d="M33.95,15l-3.746,19.126c0,0-0.161,0.874-1.245,0.874c-0.576,0-0.873-0.274-0.873-0.274l-8.114-6.733 l-3.97-2.001l-5.095-1.355c0,0-0.907-0.262-0.907-1.012c0-0.625,0.933-0.923,0.933-0.923l21.316-8.468 c-0.001-0.001,0.651-0.235,1.126-0.234C33.667,14,34,14.125,34,14.5C34,14.75,33.95,15,33.95,15z"
              ></path>
              <path
                fill="#b0bec5"
                d="M23,30.505l-3.426,3.374c0,0-0.149,0.115-0.348,0.12c-0.069,0.002-0.143-0.009-0.219-0.043 l0.964-5.965L23,30.505z"
              ></path>
              <path
                fill="#cfd8dc"
                d="M29.897,18.196c-0.169-0.22-0.481-0.26-0.701-0.093L16,26c0,0,2.106,5.892,2.427,6.912 c0.322,1.021,0.58,1.045,0.58,1.045l0.964-5.965l9.832-9.096C30.023,18.729,30.064,18.416,29.897,18.196z"
              ></path>
            </svg>
          </a>
          <a
            href="https://max.ru/u/f9LHodD0cOLxntPiyfozxFZKw3hwfHmKUpywsZthDOhTCE8U8Q0aV0o07OI"
            class="social-link"
            target="_blank"
            title="Social"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1000 1000"
              width="30"
              height="30"
            >
              <defs>
                <linearGradient id="b-footer">
                  <stop offset="0" stop-color="#00f" />
                  <stop offset="1" stop-opacity="0" />
                </linearGradient>
                <linearGradient id="a-footer">
                  <stop offset="0" stop-color="#4cf" />
                  <stop offset=".662" stop-color="#53e" />
                  <stop offset="1" stop-color="#93d" />
                </linearGradient>
                <linearGradient
                  id="c-footer"
                  x1="117.847"
                  x2="1000"
                  y1="760.536"
                  y2="500"
                  gradientUnits="userSpaceOnUse"
                  href="#a-footer"
                />
                <radialGradient
                  id="d-footer"
                  cx="-87.392"
                  cy="1166.116"
                  r="500"
                  fx="-87.392"
                  fy="1166.116"
                  gradientTransform="rotate(51.356 1551.478 559.3)scale(2.42703433 1)"
                  gradientUnits="userSpaceOnUse"
                  href="#b-footer"
                />
              </defs>
              <rect
                width="1000"
                height="1000"
                fill="url(#c-footer)"
                ry="249.681"
              />
              <rect
                width="1000"
                height="1000"
                fill="url(#d-footer)"
                ry="249.681"
              />
              <path
                fill="#fff"
                fill-rule="evenodd"
                d="M508.211 878.328c-75.007 0-109.864-10.95-170.453-54.75-38.325 49.275-159.686 87.783-164.979 21.9 0-49.456-10.95-91.248-23.36-136.873-14.782-56.21-31.572-118.807-31.572-209.508 0-216.626 177.754-379.597 388.357-379.597 210.785 0 375.947 171.001 375.947 381.604.707 207.346-166.595 376.118-373.94 377.224m3.103-571.585c-102.564-5.292-182.499 65.7-200.201 177.024-14.6 92.162 11.315 204.398 33.397 210.238 10.585 2.555 37.23-18.98 53.837-35.587a189.8 189.8 0 0 0 92.71 33.032c106.273 5.112 197.08-75.794 204.215-181.95 4.154-106.382-77.67-196.486-183.958-202.574Z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p>&copy; 2026 Правовое агентство «БиС». Все права защищены.</p>
    </div>
  </div>
</footer>

<!-- Cookie Banner -->
<div id="cookie-banner" class="cookie-banner">
  <div class="container">
    <div class="cookie-banner__content">
      <p class="cookie-banner__text">
        Мы используем файлы cookie, чтобы обеспечить вам наилучший опыт на нашем
        сайте. Продолжая использовать этот сайт, вы соглашаетесь с нашей
        <a href="{{ url_for('page', page_name='privacy') }}"
          >политикой конфиденциальности</a
        >.
      </p>
      <button id="accept-cookies" class="btn btn--primary btn--small">
        Принять
      </button>
    </div>
  </div>
</div>
